CMenu {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-out;
    opacity: 0;
    z-index: 20;
    border: 1px solid rgba(0, 0, 0, 0);

    &.open {
        transition: all 0.2s ease-out;
        opacity: 1;
        pointer-events: all;
        display: flex;
        border: 33px solid rgba(0, 0, 0, 0);
    }
}

.cbuttons {
    position: absolute;
    border: 4px solid rgba(255, 124, 124, 1);
    top: 16px;
    right: 32px;
    flex-direction: row-reverse;

    .cbutton {
        padding: 10px;
        width: 64px;
        height: 64px;
        backdrop-filter: blur(10px);
        border-radius: 4px;
        cursor: pointer;
        margin: 5px;

        .icon {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

CPropertiesMenu {
    flex-direction:column;
    flex-shrink: 0;
    overflow: scroll;

    .category {
        font-size: 24px;
        font-weight: 600;
    }
}