Credits {
    width: 400px;
    pointer-events: none;
    transition: all 0.1s ease-out;
    position: absolute;
    font-family: poppins;
    height: 100%;
    opacity: 1;
    margin: auto;
    background-color: rgba(41, 177, 255, 1);
    flex-direction: column;
    overflow: hidden;
    left: -400px;

    .header {
        padding: 14px 20px;
        width: 100%;
        background-color: rgba(41, 43, 255, 1);
        color: #fdeece;
        font-family: Poppins;
        font-size: 22px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 1);
        box-shadow: 0px 0 10px 5px #0009;
        position: relative;
    }

    &.open {
        pointer-events: all;
        left: 0;
    }

    CreditsContent {
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        display: grid;

        .button {
            width: 100%;
            padding: 10px;
            font-family: Poppins;
            font-size: 22px;
            color: #fff;
            background-color: rgba(20, 24, 170, 0.8);
            border-radius: 3px;
            margin-bottom: 10px;
            font-size: 16px;
            box-shadow: 0px 0 10px 5px #0009;
        }

        .button:hover {
            background-color: #82756b;
            cursor: pointer;
        }

        .button:active {
            background-color: #524840;
        }

        .section {
            color: rgba(255, 255, 255, 1);
            font-family: Poppins;
            margin-bottom: 10px;
            text-shadow: 2px 2px 0 black;
        }
    }
}
